[submodule "godot-headers"]
	path = godot-headers
	url = git@github.com:godotengine/godot-headers.git
[submodule "lfqueue"]
	path = lfqueue
	url = git@github.com:Taymindis/lfqueue.git
	ignore = dirty
[submodule "thirdparty/lfqueue"]
	path = thirdparty/lfqueue
	url = git@github.com:Taymindis/lfqueue.git
[submodule "thirdparty/opensmalltalk-vm/opensmalltalk-vm"]
	path = thirdparty/opensmalltalk-vm/opensmalltalk-vm
	url = git@github.com:OpenSmalltalk/opensmalltalk-vm.git
