[submodule "godot-headers"]
	path = plugin/godot-headers
	url = git@github.com:godotengine/godot-headers.git
[submodule "thirdparty/lfqueue"]
	path = plugin/thirdparty/lfqueue
	url = git@github.com:Taymindis/lfqueue.git
	ignore = dirty
[submodule "thirdparty/opensmalltalk-vm/opensmalltalk-vm"]
	path = plugin/thirdparty/opensmalltalk-vm/opensmalltalk-vm
	url = git@github.com:OpenSmalltalk/opensmalltalk-vm.git
	ignore = dirty
